body {
    background-color:#E3C119;
    color:#130F8F;
    font-family:noto-serif, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    text-align:center;
}
h1 {
    font-size: 40pt;
}
header {
    text-align: center;
}
#hero, footer {
    text-align: center;
    background-color: #A6E64C;
    padding: 10px;
    color: #E50109;
    border: 2px solid #E50109;
}
#hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#bio {
    text-align:center;
}
#hobbies ul li:nth-child(odd){
    color: magenta;
    }
#gallery {
    border: 3px solid #E50109;
    margin-bottom: 2rem;
}
#gallery img {
    width: 100%;
}
#gallery figure {
    text-align: center;
}
/*literature section*/
#lit {
    border: 3px solid #E50109;
    margin-bottom: 2rem;
}
#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
#lit div p {
    padding: 0.3rem;
    clear:both;
}

/*Dropcap*/
#lit div p:first-child:first-letter {
    color:#E50109;
    float: left;
    font-size: 3rem;
    line-height: 1;
    padding-right: 0.1rem;
}
