body {
    background-color:#f6ecb9;
    color:#130F8F;
    font-family:noto-serif, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    text-align:center;
}
h1 {
    font-size: 50pt;
}
h2 {
    margin: .1em;
}
header {
    text-align: center;
}

/* hero section*/
#hero, footer {
    text-align: center;
    background-color: #d5f3ac;
    padding: 10px;
    color: #ba0309;
    border: 2px solid #E50109;
}
#hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*bio section */
#bio {
    text-align:center;
}

/*hobbies section */
#hobbies ul li:nth-child(odd){
    color: magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/*gallery section */
#gallery {
    border: 3px solid #E50109;
    margin-bottom: 2rem;
}
#gallery img {
    width: 640px;
    height: 600px;
    margin-left:64px;
    margin-right: 64px;
}
#gallery figure {
    text-align: center;
}

/*literature section*/
#lit {
    border: 3px solid #E50109;
    margin-bottom: 2rem;
}
#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
#lit div p {
    padding: 0.3rem;
    clear:both;
}

/*Dropcap section*/
#lit div p:first-child:first-letter {
    color:#E50109;
    float: left;
    font-size: 3rem;
    line-height: 1;
    padding-right: 0.1rem;
}


@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;;
    }

    figcaption {
        display: flex;
        flex-direction: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}
