body {
    background-color:#f5edc8;
    color:#130F8F;
    font-family:noto-serif, serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    text-align:center;
}
h1 {
    font-size: 50pt;
}
h2 {
    margin: .1em;
}
header {
    text-align: center;
}

/* hero section*/
#hero, footer {
    text-align: center;
    background-color: #d9f3b6;
    padding: 10px;
    color: #ba0309;
    border: 2px solid #014411;
}
#hero img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*bio section */
#bio {
    text-align:center;
}

/*hobbies section */
#hobbies {
    color: rgb(78, 8, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    }

/*gallery section */
#gallery {
    border: 3px solid #E50109;
    margin-bottom: 2rem;
}
#gallery img {
    margin-left:2px;
    margin-right: 2px;
}
#gallery figure {
    text-align: center;
}

/*video section */
iframe {
        aspect-ratio: ;16 / 9;
        width: 80%;
        height: 400px;
        border: 3px solid #E50109;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        margin: 20px auto;
        display: block;
    }

/*literature section*/
#lit {
    border: 3px solid #E50109;
    margin-bottom: 2rem;
}
#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
#lit div p {
    padding: 0.3rem;
    clear:both;
}

/*Dropcap section*/
#lit div p:first-child:first-letter {
    color:#E50109;
    float: left;
    font-size: 3rem;
    line-height: 1;
    padding-right: 0.1rem;
}

/*formElements*/

#formElements {
    display:grid;
    row-gap:.5em;
}

#contact {
    padding:1rem;
    max-width:600px;
    margin:2rem auto;
}

fieldset{
    border: 2px solid #E50109;
    margin-top:1em;
    margin-bottom:1em;
    border-radius:2rem;
}

legend{
    background-color: #E50109;
    color:white;
    padding: 0.5em;
}

#contact input, #contact text area, #contact button{
padding: .5em;
font-size:1rem;
}

#contact ul{
    list-style:none;
    padding:0;
}

#contact li{
    margin: 1rem;
}

#contact button{
    background-color: #E50109;
    color:white;
    border:1px solid green;
    max-width:400px;
    width:50%;
    justify-self:center;
}

/* tablet size  */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;;
    }

    figcaption {
        display: flex;
        flex-direction: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #lit div{
        max-width: 100%;
        columns: 20rem;
    }
}

/* large screen size */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display: none;
    }

    #gallery h2{
        grid-column: 1/-1;
    }

    figure{
        display:block;
    }
}
